.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "image1 image1 image1 image1"
    "text text text text";
}

.image1 {
  grid-area: image1;
}

img {
  max-width: 100%;
  height: auto;
}
